Z656/assignment3/recipe.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT RECIPE (NAME, INGREDIENTS, DIRECTIONS)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT INGREDIENTS (INGREDIENT+)>
<!ELEMENT INGREDIENT (ORDER, TEXT)>
<!ELEMENT ORDER (#PCDATA)>
<!ELEMENT TEXT (#PCDATA)>
<!ELEMENT DIRECTIONS (STEP+)>
<!ELEMENT STEP (ORDER, TEXT)>
